.title {
  color: rgb(40, 221, 16);
  text-align: center;
}

.container {
  text-align: center;
}
.input-quote {
  background-color: aqua;
  height: 176px;
  line-height: 124px;
}
.input-quotes {
  width: 75% !important;
}
.input-author {
  width: 25% !important;
}
